In [22]:
#Authorization
#enctoken OMZzZuOSkXUQL+kHZt70B/ZA0jr2yMVWLgTzcSDvhEqY0SPhOI5PBfqUM5sxyZ3R/F7/fjQZdxvOfY5FT6QSAWemx5mCtw==
#1st cell to run
import requests
import pandas as pd
import time
from datetime import datetime,timedelta
from datetime import date

In [15]:
##Test cell ##donot run it 
userid='IF8335'
timeframe='minute'
token='138535172'
auth_token='enctoken OMZzZuOSkXUQL+kHZt70B/ZA0jr2yMVWLgTzcSDvhEqY0SPhOI5PBfqUM5sxyZ3R/F7/fjQZdxvOfY5FT6QSAWemx5mCtw=='
headers={'Authorization': auth_token} 
to_date=date(2021,7,7)
from_date=date(2021,6,7)
url=f'https://kite.zerodha.com/oms/instruments/historical/{token}/{timeframe}?user_id={userid}&oi=1&from={from_date}&to={to_date}'
resJson=requests.get(url,headers=headers).json()
candleinfo=resJson['data']['candles']
columns=['timestamp','Open','High','Low','Close','V','OI']
df=pd.DataFrame(candleinfo,columns=columns)
df

                     timestamp    Open    High     Low   Close     V  OI
0     2021-06-07T09:15:00+0530  314.55  316.15  314.00  315.90  3538   0
1     2021-06-07T09:16:00+0530  315.90  315.90  314.70  315.30  2257   0
2     2021-06-07T09:17:00+0530  315.30  315.65  314.75  314.75   904   0
3     2021-06-07T09:18:00+0530  314.75  315.40  314.75  315.05   565   0
4     2021-06-07T09:19:00+0530  315.05  315.60  313.70  314.90  7321   0
...                        ...     ...     ...     ...     ...   ...  ..
8620  2021-07-07T15:25:00+0530  320.75  320.75  320.55  320.55   467   0
8621  2021-07-07T15:26:00+0530  320.55  320.90  320.50  320.80  1419   0
8622  2021-07-07T15:27:00+0530  320.80  320.80  320.50  320.80  1374   0
8623  2021-07-07T15:28:00+0530  320.55  320.80  320.55  320.55  1322   0
8624  2021-07-07T15:29:00+0530  320.55  321.10  320.55  320.90  1493   0

[8625 rows x 7 columns]

In [23]:
#2nd cell to run
#change the auth_token for every session
def get_intraday_data(from_date,to_date,token):
#auth_token='enctoken OMZzZuOSkXUQL+kHZt70B/ZA0jr2yMVWLgTzcSDvhEqY0SPhOI5PBfqUM5sxyZ3R/F7/fjQZdxvOfY5FT6QSAWemx5mCtw=='

    auth_token='enctoken 5np+5khPukZf5Lysx+FdFTijKb4Oi53oeMamdaxAhV+vdINdIZ53N71lMNAEhO3pmkfOd6WRIOVyWgM0KS/7+ltU4tLQVQ=='
    headers={'Authorization': auth_token}    
    url=f'https://kite.zerodha.com/oms/instruments/historical/{token}/{timeframe}?user_id={userid}&oi=1&from={from_date}&to={to_date}'
    resJson=requests.get(url,headers=headers).json()
    candleinfo=resJson['data']['candles']
    columns=['timestamp','Open','High','Low','Close','V','OI']
    df=pd.DataFrame(candleinfo,columns=columns)
    return df

In [51]:
#3rd cell to run
#take token from zerodha url and update it here
#check for the output whether evrything is working fine or not
#Bandhan Bank token ='138535172'
#Axis Bank token ='136247044'
#SBIN = '128028676'
#PVR = '136368388'
#CAMS = '87553'
#HCLTECH = '136263940'
token='128028676'
userid='IF8335'
timeframe='minute'
to_date=date(2021,7,8)
from_date=date(2021,6,8)

df2=get_intraday_data(from_date,to_date,token)
df2.head()

                  timestamp    Open    High     Low   Close      V  OI
0  2021-06-08T09:15:00+0530  432.50  432.50  429.55  429.85  22278   0
1  2021-06-08T09:16:00+0530  429.60  430.00  428.90  428.90  27700   0
2  2021-06-08T09:17:00+0530  429.25  429.85  428.90  429.85  21501   0
3  2021-06-08T09:18:00+0530  429.60  430.45  429.60  430.40  21373   0
4  2021-06-08T09:19:00+0530  430.30  430.60  430.00  430.10  12912   0

In [52]:
##Loop the above code to download for 1year historical data
##generate the month and year end for specific time stamp
#4th cell to run
#Change dates accordingly
start_date=date(2010,1,1)
end_date=date(2021,7,8)

columns=['timestamp','Open','High','Low','Close','V','OI']
year_data=pd.DataFrame(columns=columns)

from_date=start_date
while from_date< end_date:
    to_date=from_date+timedelta(days=30)
    print(from_date,to_date)
    month_data=get_intraday_data(from_date,to_date,token)
    year_data=year_data.append(month_data)
    from_date=from_date+timedelta(days=31)

year_data.head()

2010-01-01 2010-01-31
2010-02-01 2010-03-03
2010-03-04 2010-04-03
2010-04-04 2010-05-04
2010-05-05 2010-06-04
2010-06-05 2010-07-05
2010-07-06 2010-08-05
2010-08-06 2010-09-05
2010-09-06 2010-10-06
2010-10-07 2010-11-06
2010-11-07 2010-12-07
2010-12-08 2011-01-07
2011-01-08 2011-02-07
2011-02-08 2011-03-10
2011-03-11 2011-04-10
2011-04-11 2011-05-11
2011-05-12 2011-06-11
2011-06-12 2011-07-12
2011-07-13 2011-08-12
2011-08-13 2011-09-12
2011-09-13 2011-10-13
2011-10-14 2011-11-13
2011-11-14 2011-12-14
2011-12-15 2012-01-14
2012-01-15 2012-02-14
2012-02-15 2012-03-16
2012-03-17 2012-04-16
2012-04-17 2012-05-17
2012-05-18 2012-06-17
2012-06-18 2012-07-18
2012-07-19 2012-08-18
2012-08-19 2012-09-18
2012-09-19 2012-10-19
2012-10-20 2012-11-19
2012-11-20 2012-12-20
2012-12-21 2013-01-20
2013-01-21 2013-02-20
2013-02-21 2013-03-23
2013-03-24 2013-04-23
2013-04-24 2013-05-24
2013-05-25 2013-06-24
2013-06-25 2013-07-25
2013-07-26 2013-08-25
2013-08-26 2013-09-25
2013-09-26 2013-10-26
2013-10-27 2013-11-26
2013-11-27 2013-12-27
2013-12-28 2014-01-27
2014-01-28 2014-02-27
2014-02-28 2014-03-30
2014-03-31 2014-04-30
2014-05-01 2014-05-31
2014-06-01 2014-07-01
2014-07-02 2014-08-01
2014-08-02 2014-09-01
2014-09-02 2014-10-02
2014-10-03 2014-11-02
2014-11-03 2014-12-03
2014-12-04 2015-01-03
2015-01-04 2015-02-03
2015-02-04 2015-03-06
2015-03-07 2015-04-06
2015-04-07 2015-05-07
2015-05-08 2015-06-07
2015-06-08 2015-07-08
2015-07-09 2015-08-08
2015-08-09 2015-09-08
2015-09-09 2015-10-09
2015-10-10 2015-11-09
2015-11-10 2015-12-10
2015-12-11 2016-01-10
2016-01-11 2016-02-10
2016-02-11 2016-03-12
2016-03-13 2016-04-12
2016-04-13 2016-05-13
2016-05-14 2016-06-13
2016-06-14 2016-07-14
2016-07-15 2016-08-14
2016-08-15 2016-09-14
2016-09-15 2016-10-15
2016-10-16 2016-11-15
2016-11-16 2016-12-16
2016-12-17 2017-01-16
2017-01-17 2017-02-16
2017-02-17 2017-03-19
2017-03-20 2017-04-19
2017-04-20 2017-05-20
2017-05-21 2017-06-20
2017-06-21 2017-07-21
2017-07-22 2017-08-21
2017-08-22 2017-09-21

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [49]:
#5th cell to run 
#check for the tail data in the dataframe

year_data.tail()

                     timestamp    Open    High     Low   Close  V OI
6382  2021-07-09T15:47:00+0530  976.85  976.85  976.85  976.85  0  0
6383  2021-07-09T15:48:00+0530  976.85  976.85  976.85  976.85  2  0
6384  2021-07-09T15:49:00+0530  976.85  976.85  976.85  976.85  0  0
6385  2021-07-09T15:51:00+0530  976.85  976.85  976.85  976.85  0  0
6386  2021-07-09T15:54:00+0530  976.85  976.85  976.85  976.85  1  0

In [50]:
#Save the data into local folder
#change name of the folder and file accoridngly
#6th cell to run

#year_data.to_csv(f'/home/david/Documents/DataScience/Intraday_Data/Bandhan_Bank/BAN_{start_date}_{end_date}.txt',header=False,index=False)
year_data.to_csv(f'/home/david/Documents/DataScience/Intraday_Data/IT_Sector/HCLTECH/HCLTECH_{start_date}_{end_date}.txt',header=False,index=False)